$background-color-NavBar: #C41212;
$background-color-NavBar-active :#FA3232;
//$background-color-NavBar-active :#910C0C;
$background-color-NavBar-hover: #FCA9A9;
//$background-color-NavBar-hover: #FC6262;
$dashboard-bg-color:#8FB8F2;

$logoFont: 'Racing Sans One', cursive;
$navBarFont: 'Montserrat', sans-serif;