@media (max-width: 320px) {

  .pollContainer {
    margin-left: 25px;
  }

  .titleLogin{
    font-size: 4em;
  }

  .homePageTitle {
    font-size: 3em;
  }
  .question h1 {
    font-size: 1.5em;
  }

  .question {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
  }

  .dashBoardButton {
    width: 120px;
    margin-left: 9%;
  }

  .answers .btn {
    width: 155px;
    margin: 3% -5%
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 10px;
  }

  .subtitleLogin {
    font-size: 16px;

  }
}

@media (max-width: 360px) and (min-width: 321px) {

  .pollContainer {
    margin-left: 25px;
  }

  .titleLogin{
    font-size: 5em;
  }

  .homePageTitle {
    font-size: 3em;
  }

  .dashBoardButton {
    width:125px;
    margin-left: 13%;
  }

  .question {
    width: 80%;
    margin-left: 10%;
  }

  .question h1 {
      font-size: 2em;
    }

  .answers .btn {
    width: 155px;
    margin: 5px 0px;
  }

   h2 {
    font-size: 15px;
  }
}

@media (max-width: 400px) and (min-width: 361px) {
  .pollContainer {
    margin-left: 30px;
  }

  .titleLogin{
    font-size: 5em;
  }

    .dashBoardButton {
    width:145px
  }

   h2 {
    font-size: 20px;
  }

  .question h1 {
      font-size: 2em;
  }
}

@media (max-width: 480px) and (min-width: 401px) {
  .dashBoardButton {
    width:180px
  }

   h2 {
    font-size:30px;
  }

  .question h1 {
      font-size: 2em;
  }

  .answers .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) and (min-width: 481px) {
  .dashBoardButton {
     margin-left: 25%;
  }

  h2 {
    font-size:30px;
  }

  .pollContainer {
    width: 350px;
    margin-left: 15px;
  }
  .question h1 {
      font-size: 1.85em;
    }

    .answers .btn {
    margin: 5px 17%
  }

  .deletePollButton {
    width: 110px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) and (min-width: 601px) {
  .dashBoardButton {
     margin-left: -3%;
     width: 400px;
  }

  .deletePollButton {
    width: 110px;
    margin-left: 0px;
  }

  .pollContainer {
    width:435px;
    margin-left: 23px;
  }

  .question h1 {
      font-size: 2em;
  }

  h2 {
    font-size:30px;
  }

  .answers .btn {
    margin: 5px 25%
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .answers .btn {
    margin: 1% 33%;
  }
}