html {
  overflow-x: hidden;
}

body {
  color:black;
  font-size:14px;
}

.form-control {
  color:black;
  font-family: 'Montserrat', sans-serif;

}

.alertMessage {
  text-align:center;
  margin-top: 10px
}