.dashBoard {
    background-color: $dashboard-bg-color;
    margin-bottom: 20px;
    padding: 0px 0px 70px 0px;
}

.title {
      font-family: 'Racing Sans One', cursive;
      font-size:7em;
}

.subtitle {
       font-family: 'Montserrat', sans-serif;
}

.dashBoardButton {
  margin: 20px 20px 0px 20px;
  width: 140px;
  background-color: $background-color-NavBar;
  border-color: $background-color-NavBar;

  &:hover {
    background-color:$background-color-NavBar-hover;
    border-color: $background-color-NavBar-hover;
    color:red;
  }

  &:active {
    color:white;
    font-family: $navBarFont;
    background-color: $background-color-NavBar-active;
    border-color: $background-color-NavBar-active;
  }
}