#navBar {
    background-color: $background-color-NavBar;

}

.navbar {
  background-color: $background-color-NavBar;
}
/*
.navbar-default {
  color:white;
}

.navbar-default .navbar-brand{
  color:white;
}


.navbar-brand {
  color:white;
}*/

#whiteText {
  color:white;
}